<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <!-- font -->

    <% } %> <% } %> <%- include ClientApp/ejs/index_2/public/header.ejs %>
    <!-- Here is our page's main content -->
    <!-- <div class="bgc">
      <video preload="auto" autoplay loop>
        <source
          src="https://video.wixstatic.com/video/11062b_6743da5900054f1f8e69f53302930a6a/1080p/mp4/file.mp4"
          type="video/mp4"
        />
      </video>
    </div> -->

    <main class="login borr-10 animFadeIn">
      <div class="loginInfo">
        <div class="eletronic">
          <img src="wwwroot/images/eletronic2.png" alt="" />
        </div>
        <div class="font">
          <div class="logo">
            <img src="wwwroot/images/mTerraceLogo.png" alt="" />
          </div>
          <p>EnterFlow</p>
          <p>New Generation</p>
          <p>Workflow Engine Inside</p>
          <p class="info">mTERRACE Inc.</p>
        </div>
      </div>

      <div class="loginForm borr-10 animFadeInRight">
        <h1>登入系統</h1>

        <div class="box">
          <!-- <h2>Contact Us</h2>  -->
          <form action="">
            <div><input type="text" /> <label for="">Name</label></div>
            <div><input type="text" /> <label for="">Email</label></div>
            <button class="borr-5" type="submit">登入</button>
          </form>
        </div>
      </div>
    </main>

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %> <%- include ClientApp/ejs/index_2/public/footer.ejs %>
  </body>
</html>
