<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %> <%- include ClientApp/ejs/index_2/public/header.ejs %>
    <!-- Here is our page's main content -->
    <main class="login borr-10">
      <div class="loginInfo">
        <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi magni
        molestiae eum, dignissimos officiis nulla hic tempora aut, iure ipsam
        odio cupiditate quaerat provident ab quam reiciendis! Neque, rerum quo?
        Corporis quibusdam nesciunt sapiente fugiat voluptate modi aperiam.
        Eligendi nam impedit accusamus consectetur molestiae? Animi, impedit.
        Perferendis corporis quibusdam odio, mollitia maxime culpa quas,
        laudantium quaerat cupiditate, atque vero delectus. Repellendus rerum
        quia explicabo, officiis vitae laudantium similique, sequi dolorem,
        tenetur placeat iusto nulla qui illo iste eos a? Quas obcaecati
        temporibus voluptatum porro, cumque delectus necessitatibus quidem
        reiciendis dolor! Nam iste dignissimos temporibus est maxime distinctio
        delectus nihil necessitatibus perspiciatis pariatur, nisi saepe possimus
        quos nulla natus quas fugit nesciunt eos, quod, beatae architecto
        debitis? Quasi omnis ipsum unde. Tempora beatae fugiat doloribus alias
        unde animi quia consequuntur minima eveniet quos dolorum cumque, cum et
        distinctio laboriosam. Quibusdam, porro. Ea placeat saepe temporibus
        consectetur rem tenetur! Voluptatem, asperiores ab? Architecto, laborum
        doloremque omnis modi odio incidunt accusamus tempore temporibus labore,
        totam libero ipsa nemo eaque dolore animi consequatur ducimus! Totam
        modi officia velit officiis. Soluta deleniti saepe sunt nemo? Magnam,
        autem distinctio velit dicta enim quo quia ab, nam placeat expedita
        fugiat hic repellat porro, quis necessitatibus accusamus eveniet
        consequatur fugit aliquam vero quae sed. Id officiis blanditiis minima.
        Vel nam veniam molestiae ratione laboriosam repellendus aliquam rem
        saepe optio a natus, tempore dignissimos, soluta, dolor culpa! Quasi
        odio consectetur excepturi rem nobis aliquam exercitationem in assumenda
        laboriosam corrupti. Ipsum ipsa dolore iste est blanditiis enim
        laudantium provident? Quibusdam at saepe enim molestias itaque nisi quod
        cupiditate odit laudantium, possimus magni sint dolore cumque? Enim sit
        officiis libero temporibus. Rem nisi beatae facere excepturi repellat,
        nam blanditiis? Nesciunt quod itaque tempora iusto, unde ea. Eos,
        incidunt! Laudantium illum sunt nemo similique aliquam optio
        necessitatibus quod alias, nam rem tempora! Numquam quidem perferendis
        necessitatibus mollitia molestiae quo modi illum voluptatem tempore ex
        pariatur impedit, sint sed repudiandae vero. Nulla quibusdam tenetur in
        iste repudiandae reiciendis explicabo dolore quo fugit praesentium!
        Minus, maxime voluptatum rerum magnam dicta velit! Saepe quidem in aut
        dolores quam sed officiis quod odio, sit doloremque nemo dolorum
        laudantium voluptas illo dignissimos harum adipisci libero unde -->

        <div class="eletronic">
          <img src="wwwroot/images/eletronic2.png" alt="">
        </div>
        <div class="font">
          <div class="logo">
            <img src="wwwroot/images/mTerraceLogo.png" alt="">
          </div>
          <p>EnterFlow</p>
          <p>New Generation</p>
          <p>Workflow Engine Inside</p>
          <p class="info">mTerrace Inc.</p>
        </div>
      </div>

      <div class="loginForm borr-10">
        <h1>登入系統</h1>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, laborum
        numquam consectetur hic porro ut amet aperiam. Modi officia quis nobis,
        ipsum rem praesentium explicabo voluptate nam laboriosam distinctio
        eaque!Ipsam quis reprehenderit sequi perspiciatis sunt laudantium harum,
        numquam, sed nisi praesentium explicabo eligendi suscipit exercitationem
        illo, expedita fugiat esse. Expedita a eum laboriosam? Cum esse autem
        neque laboriosam aliquid.
      </div>
    </main>

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %> <%- include ClientApp/ejs/index_2/public/footer.ejs %>
  </body>
</html>
